.moderate{
    background-color: yellow;
    width: fit-content;
}

.high{
    background-color: orange;
    width: fit-content;
}

.veryHigh{
    background-color: red;
    width: fit-content;
}

.extreme{
    background-color: violet;
    width: fit-content;
}

